<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/orbison5.jpg" alt="Roy Orbison">
      <div class="container">
        <div class="carousel-caption">
          <h1>Roy Orbison</h1>
          <p>Johnny Duvert som Roy Orbison.</p>
          <p><a class="btn btn-lg btn-primary" href="/johnny/" role="button">Läs mer om mig</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/images/thelegendspress_small.jpg" alt="The Legends">
      <div class="container">
        <div class="carousel-caption">
          <h1>The Legends</h1>
          <p>De tre stora, Roy Orbison, Elvis Presly och Jerry Lee Lewis</p>
          <p><a class="btn btn-lg btn-primary" href="/the-legends/" role="button">Läs mer om The Legends</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/images/rock_spelning1.jpg" alt="Rockshow">
      <div class="container">
        <div class="carousel-caption">
              <h1>Rock Show</h1>
              <p>Johnny Rockar loss</p>
              <p><a class="btn btn-lg btn-primary" href="/bilder/#rock" role="button">Se Bilder</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->


